<div class="container-lg">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <h1 class="page-title text-center fw-semibold fs-18 mb-5 text-uppercase">Modifier le mot de passe</h1>
            <div class="card custom-card">
                <div class="card-body p-5">
                    <div class="row gy-3">
                        {%with messages = get_flashed_messages() %}
                        {%if messages %}
                        {%for message in messages %}
                         {{message}}
                        {%endfor%}
                        {%endif%}
                    {%endwith%}
                        <form method="POST" action="">
                            {{form.hidden_tag()}}
                        <div class="col-xl-12">
                            <label for="reset-password" class="form-label text-default">Ancien mot de passe</label>
                            <div class="input-group">
                                {{form.oldpassword(type="password",class="form-control form-control-lg", id="reset-password", placeholder="")}}
                                
                                <button class="btn btn-light" type="button" onclick="createpassword('reset-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <label for="reset-newpassword" class="form-label text-default">Nouveau mot de passe</label>
                            <div class="input-group">
                                {{form.newpassword(type="password",class="form-control form-control-lg", id="reset-newpassword", placeholder="")}}
                                
                                <button class="btn btn-light" type="button" onclick="createpassword('reset-newpassword',this)" id="button-addon21"><i class="ri-eye-off-line align-middle"></i></button>
                            </div>
                        </div>
                        <div class="col-xl-12 mb-2">
                            <label for="reset-confirmpassword" class="form-label text-default">Confirmer le mot de passe</label>
                            <div class="input-group">
                                {{form.confirmpassword(type="password",class="form-control form-control-lg", id="reset-confirmpassword", placeholder="")}}
                                <button class="btn btn-light" type="button" onclick="createpassword('reset-confirmpassword',this)" id="button-addon22"><i class="ri-eye-off-line align-middle"></i></button>
                            </div>
                        </div>
                        <div class="col-xl-12 d-grid mt-2"><button class="btn btn-lg btn-primary" type="submit" id="submit">Sauvegarder</button></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Bootstrap JS -->
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Swiper JS -->
    <script src="/static/libs/swiper/swiper-bundle.min.js"></script>
    <script src="/static/js/authentication.js"></script>
    <script src="/static/js/show-password.js"></script>