<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Nouveau: Docteur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="margin0">

    <!-- <div><a href="{{url_for('dashboard')}}"><img src="./../static/back-btn.png" class="back-btn"></a> </div>
    <h1 class="header">Ajouter Nouveau Docteur</h1> -->
    <!-- <button id="myBtn">Open Modal</button> -->
        <div class="row-view">

        <!-- <h2>
        Qu'est-ce que tu aimerais faire?
    </h2> -->
    <div class="allMenu">
        <ul>
            <div class="padding">
                <a href="{{url_for('dashboard')}}" ><img class="img" src="./../static/logo.png" alt="Trulli" width="230" height="auto" /></a>
            </div>
            <br />
            {%if user_role == 'admin'%}
            <!-- <li><a href="{{url_for('user')}}"><span class="white">Gestion des Utilisateurs</span></a></li> -->
            <li> <a href="{{url_for('setup')}}"><span class="iconMenu"><img src="./../static/configuration.svg" alt="Configuration" width="20" height="20" /></span><span class="white">Configuration des Constantes</span></a></li>
            {%endif%}
            <li><a href="{{url_for('doctor')}}"><span class="iconMenu"><img src="./../static/medecine.svg" alt="Medecine" width="20" height="20" /></span><span class="white">Paramètre du Médecin</span></a></li>
              <hr />
            <li><a href="{{url_for('payment')}}"><span class="iconMenu"><img src="./../static/donnees-paiment.svg" alt="Paiement" width="20" height="20" /></span><span class="white">Paiements</span></a></li>
            <li><a href="{{url_for('facturation')}}"><span class="iconMenu"><img src="./../static/facturation.svg" alt="Facturation" width="20" height="20" /></span><span class="white">Facturation</span></a></li>
            <li><a href="{{url_for('retrocession')}}"><span class="iconMenu"><img src="./../static/facturation.svg" alt="Retrocession" width="20" height="20" /></span><span class="white">Retrocession</span></a></li>
            <li><a href="{{url_for('fraismateriel')}}"><span class="iconMenu"><img src="./../static/frais.svg" alt="Frais Matériele" width="20" height="20" /></span><span class="white">Frais Materièl Medical</span></a></li>
            <li><a href="{{url_for('dentisterie')}}"><span class="iconMenu"><img src="./../static/donnees-dentaire.svg" alt="Donnees Dentaire" width="20" height="20" /></span><span class="white">Dentisterie</span></a></li>
            <hr />
            <li><a href="{{url_for('encaissement')}}"><span class="iconMenu"><img src="./../static/encaissement.svg" alt="Encaissements Avance" width="20" height="20" /></span><span class="white">Encaissements-Avance</span></a></li>
            <li><a href="{{url_for('doctorpayment')}}"><span class="iconMenu"><img src="./../static/paiment-med.svg" alt="Paiement Médecin" width="20" height="20" /></span><span class="white">Materièl/Mobilier</span></a></li>
            <hr />
            <li class="rapportTab"><a href="{{url_for('reporting')}}">Génération de Rapports</a></li>
            <!-- <hr /> -->
            <!-- <li><a href="{{url_for('logout')}}"><span class="white">Déconnecter</span></a></li> -->
        </ul>
    </div>
        <div class="bodyCont padding10px">
 <div class="header-content">
          <div class="dash-title">Ajouter Nouveau Docteur</div>
        </div>
    <div class="add-icon-view">
        <img id="myBtn" class="cursor-pointer" src="./../static/add-icon.png" alt="Dialog" width="30" height="30" />
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="section-view">
                <form method="POST" action="">
                    {% for field in form %}
                    <tr>
                        <span class="form-titles">
                            <th>{%if field.label.text != 'Submit' and field.label.text != "CSRF Token" %}{{ field.label
                                }}{%endif%} {% if field.flags.required %}*{% endif %}</th>
                        </span>
                        <td>{{ field }}</td><br><br>
                    </tr>
                    {% endfor %}
                </form>
            </div>
        </div>

    </div>
    <div>
        {%with messages = get_flashed_messages() %}
        {%if messages %}
        {%for message in messages %}
        {{message}}
        {%endfor%}
        {%endif%}
        {%endwith%}
        <!-- <div class="section-view">
    <form method="POST" action="">
        {% for field in form %}
        <tr>
            <span class="form-titles">
            <th>{%if  field.label.text != 'Submit' and field.label.text != "CSRF Token" %}{{ field.label }}{%endif%} {% if field.flags.required %}*{% endif %}</th>
            </span>
            <td>{{ field }}</td><br><br>
        </tr>
        {% endfor %}
    </form>
    </div> -->
        <br />
        <!-- <a href="{{url_for('dashboard')}}">Go Back</a> -->
        <div class="tableCover">
            <table class="fl-table" border="1">
                <thead>
                    <tr>
                        {%for title in headers%}
                        <th>{{title}}</th>
                        {%endfor%}
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                {% for value in table %}
                <tr>

                    {%for item in value%}
                    <td>
                        {{item}}
                    </td>

                    {%endfor%}
                    {%if user_role == 'admin'%}
                    <td><a class="ic-view" href="{{url_for('load_doctor',tbl=dbtable,id=value[0])}}"><img
                                src="./../static/icons8-edit.svg" alt="Edit" width="26" height="26" /></span></a></td>
                    <td><a onclick="document.getElementById('modal{{value[0]}}').style.display='block'"  class="ic-view"><img
                                src="./../static/icons8-trash.svg" alt="Delete" width="26" height="26" /></span></a>
                    </td>

                    <div id="modal{{value[0]}}" class="modal">
                        <div class="modal-content-delete">

                        <span onclick="document.getElementById('modal{{value[0]}}').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <form action="/action_page.php">
                          <div class="container_modaldelete">
                            <h1>Supprimer le compte</h1>
                            <p>Êtes-vous sûr que vous voulez supprimer?</p>
                      
                            <div class="clearfix">
                              <a onclick="document.getElementById('modal{{value[0]}}').style.display='none'" type="button" class="cancelbtn">Annuler</a>
                              <a href="{{url_for('delete_entry',tbl=dbtable,tblid=dbtableid,id=value[0])}}" type="button" class="deletebtn">Effacer</a>
                            </div>
                          </div>
                        </form>
                        </div>
                      </div>
                    {%endif%}

                </tr>
                {% endfor %}
            </table>
</div>
</div>
    </div>
</div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {%if hasDynamicSelector == True and dbtable == 'payment'%}
    <script>
        let paymenttype_select = document.getElementById('paiementsType');
        let paymentname_select = document.getElementById('paiementsNom');

        paymenttype_select.onclick = function () {
            paymenttype = paymenttype_select.value;

            fetch('/paymentnames/' + paymenttype).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';

                    for (let paymentname of data.paymentnames) {
                        optionHTML += '<option value="' + paymentname.name + '">' + paymentname.name + '</option>';
                    }
                    optionHTML += "<option value='addnew'>Ajouter nouveau ?</option>";
                    paymentname_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    {%endif%}
    {%if hasDynamicSelector == True and dbtable == 'facturation'%}
    <script>
        let facturationtype_select = document.getElementById('facturationType');
        let facturationname_select = document.getElementById('facturationNom');

        facturationtype_select.onclick = function () {
            facturationtype = facturationtype_select.value;

            fetch('/facturationnames/' + facturationtype).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';

                    for (let facturationname of data.facturationnames) {
                        optionHTML += '<option value="' + facturationname.name + '">' + facturationname.name + '</option>';
                    }
                    optionHTML += "<option value='addnew'>Ajouter nouveau ?</option>";
                    facturationname_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    {%endif%}
    {%if hasDynamicSelector == True and dbtable == 'dentisterie'%}
    <script>
        let dentisterietype_select = document.getElementById('dentisterieType');
        let dentisteriename_select = document.getElementById('dentisterieNom');

        dentisterietype_select.onclick = function () {
            dentisterietype = dentisterietype_select.value;

            fetch('/dentisterienames/' + dentisterietype).then(function (response) {
                response.json().then(function (data) {
                    let optionHTML = '';

                    for (let dentisteriename of data.dentisterienames) {
                        optionHTML += '<option value="' + dentisteriename.name + '">' + dentisteriename.name + '</option>';
                    }
                    optionHTML += "<option value='addnew'>Ajouter nouveau ?</option>";
                    dentisteriename_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    {%endif%}
</body>

</html>