
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Page Header -->
        <a href="{{url_for('medicins')}}" class="btn rounded-pill waves-effect waves-light btn-sm btn-primary-light mt-4"><i class="bx bx-chevron-left fs-20 mt-1"></i></a>
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Ajouter un nouveau médecin</h1>
        </div>
<form id ="newdoctorform">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Nom du médecin *</label> 
                <input required type="text" class="form-control" id="doctor-name" />
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Type *</label> 
                <select required class="js-example-basic text-muted" id = "type-select" name="state">
                <option value="Type" selected disabled>Type</option>
                    <option value="medicins">médecins</option>
                    <option value="dentiste">dentiste</option>
                    <option value="hygeniste">hygeniste</option>
                </select>
            </div>
            
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Spécialité du médecin *</label> 
                <select required class="js-example-basic text-muted" id = "spec-select" name="state">
                    
                    
                        
                    </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label id="newspeclbl" for="product-name-add" class="form-label">Nouveau Spécialité</Address></label> 
                <input type="text"  class="form-control" id="newspec" />
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Est un Employé? *</label> 
                <select required class="js-example-basic text-muted" id = "isemp-select" name="state">
                    <option value="no" selected>non employe</option>
                    <option value="yes">employe</option>
                        
                    </select>
            </div>
            
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Pourcentage de travaille *</label> 
                <input type="number" required  class="form-control" id="pourcentage-medicins" step="0.1" min="0" max="100"/>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Adresse</Address></label> 
                <input type="text"  class="form-control" id="address" />
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="charges-sociales" class="form-label" id="charges-sociales-lbl">Charges Sociales</label> 
                <input type="number"  class="form-control" id="charges-sociales"   step="0.1" min="0" max="1000000"/>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Surface accordée *</label> 
                <input type="number" required  class="form-control" id="surface-accordee" step="0.01" min="0" max="1000000"/>
            </div>

           
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Telephone</label> 
                <input type="text"  class="form-control" id="telephone" />
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Coordonnée bancaire</label> 
                <input type="text"  class="form-control" id="coordbank" />
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label" id="noavs-lbl">No.AVS *</label> 
                <input type="text" class="form-control" id="noavs" />
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Email</label> 
                <input type="text"  class="form-control" id="email" />
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Date debut *</label> 
                <input type="text" required  class="form-control" id="datedebut" />
            </div>
                 
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                <label for="product-name-add" class="form-label">Logiciels utilisés par le médecin</label>
                <!-- js-example-placeholder-multiple is in select2 for multiple select with placeholder -->
                <select required class="js-example-multiple text-muted" name="state" multiple="multiple" id="logiciel">
                    <option value="axenita">axenita</option>
                    <option value="one doc">one doc</option>
                    <option value="denteo">denteo</option>
                </select>
            </div>




        </div>
    </form>


    <div class="salaire" id="salaire">
        <h2 class="page-title fw-semibold fs-18 mb-4 mt-5 ">Salaire</h2>
        <div class="d-md-flex d-block align-items-baseline justify-content-end mt-3 mb-4 page-header-breadcrumb">
            <div class="btn-list">
                <a class="btn btn-primary btn-wave mb-0" href="javascript:void(0);" data-bs-effect="effect-rotate-left" data-bs-toggle="modal" and data-bs-target="#addDoctorsSalary">
                    + Ajouter
                </a>
            </div>
            <div class="modal fade effect-rotate-left" id="addDoctorsSalary">
                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                    <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                            <h6 class="modal-title">Ajouter Salaire</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-start">
                            <div class="row">
                                <form id="addsalairedocform">
                                <div class="col-12">
                                    <label for="product-name-add" class="form-label">Salaire</label> 
                                    <input type="number" step="0.01" class="form-control" required id="salairee" />
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="product-name-add" class="form-label">Nombre de mois de salaire par an</label> 
                                    <input type="number" class="form-control" required id="monthsnumbers" />
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="product-name-add" class="form-label">Date de Début:</label> 
                                    <input type="text" id="addsalairedate" name="fromdate" required class="form-control text-muted" />
                                </div>
                                <!--<div class="col-12 mt-4">
                                    <label for="product-name-add" class="form-label">Date de Fin:</label> 
                                    <input type="text" id="addDatePicker2" name="todate" class="form-control text-muted" />
                                </div>-->
                                <div class="col-12 mt-4">
                                    <input type="button" class="form-control btn btn-primary" id="input-button" value="Ajouter" onclick="add_item_to_salaire_table()" >
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="col-12">
                            <!-- responsiveDataTable2 is for the datatable columns number less than 5  & responsiveDataTable is for the datatable columns number more than 5-->
                            <table id="responsiveDataTable2" class="table table-bordered text-nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <!--selectAllCheckbox is important -->

                                        <th class="w-100">Action</th>
                                        <th class="w-100">Salaire</th>
                                        <th>Nombre de mois de salaire par an</th>
                                        <th>Date de Début</th>
                                        <th>Date de Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- part en pourcentage -->
        <h2 class="page-title fw-semibold fs-18 mb-4 mt-5">Part en pourcentage  (pour le centre)</h2>
        <div class="d-md-flex d-block align-items-baseline justify-content-end mt-3 mb-4 page-header-breadcrumb">
            <div class="btn-list">
                <a class="btn btn-primary btn-wave mb-0" href="javascript:void(0);" data-bs-effect="effect-rotate-left" data-bs-toggle="modal" and data-bs-target="#addDoctorsPercentage">
                    + Ajouter
                </a>
                <button type="button" class="btn btn-primary btn-wave mb-0 dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                    Sélectionner des actions groupées
                </button>
                <ul class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                    <li>
                        <!-- deleteSelectedRowsButton in datatable.js to delete the selected checkbox rows -->
                        <button class="dropdown-item d-flex align-items-center text-danger" data-bs-toggle="modal" data-bs-target="" onclick="bulk_delete_medicins_perc_TMP()">Supprimer la sélection</button>
                    </li>
                </ul>
                <div class="modal fade mt-4" id="deleteBulkDoctorsPercentage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="staticBackdropLabel">Delete</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure do you want to delete these rows?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteSelectedRowsButton">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade effect-rotate-left" id="addDoctorsPercentage">
                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                    <div class="modal-content modal-content-demo">
                        <div class="modal-header">
                            <h6 class="modal-title">Ajouter Pourcentage</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-start">
                            <form id="addpercdocform">
                            <div class="row">
                                <div class="col-12">
                                    <label for="input-de" class="form-label">De *</label> <input required type="number"  class="form-control" id="input-de" />
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="input-a" class="form-label">A *</label> <input required type="number" class="form-control" id="input-a" />
                                </div>
                                <div class="col-12 mt-4">
                                    <label for="input-perc" class="form-label">Pourcentage:</label> <input required type="number" step="0.01" class="form-control" id="input-perc" />
                                </div>
                                <div class="col-12 mt-4">
                                    <input type="button" class="form-control btn btn-primary" id="input-button" onclick="add_item_to_percentage_table()"  value="Ajouter">
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="col-12">
                        <!-- responsiveDataTable2 is for the datatable columns number less than 5  & responsiveDataTable is for the datatable columns number more than 5-->
                        <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width: 100%;">
                            <thead>
                                <tr>
                                    <!--selectAllCheckbox is important -->
                                    <th class="w-10"><input class="form-check-input" type="checkbox" id="selectAllCheckbox" value="" aria-label="..." /></th>
                                    <th class="w-10">Action</th>
                                    <th class="w-10">Activite Id</th>
                                    <th>De</th>
                                    <th>A</th>
                                    <th>Pourcentages</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-2 mt-3 mb-5">
            <a class="form-control btn btn-primary" id="input-button" value="Soumettre" onclick="add_new_doctor()">Ajouter</a>
        </div>
    </div>
</div>
</div>
<!-- End::app-content -->

