
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div>
                <h1 class="page-title fw-semibold fs-18 mb-3">Medecins</h1>
                <a href="" class="btn rounded-pill waves-effect waves-light btn-sm btn-primary-light btn-active">Medecins</a>
                <a href="{{url_for('employees')}}" class="btn rounded-pill waves-effect waves-light btn-sm btn-primary-light">Employés</a>
                <a href="" class="btn rounded-pill waves-effect waves-light btn-sm btn-primary-light">Patients</a>
            </div>
            <div class="btn-list">
                <a class="btn btn-primary btn-wave mb-0" data-bs-effect="effect-rotate-left" href="{{url_for('nouveaumedicins')}}">
                    + Ajouter
                </a>
                <button type="button" class="btn btn-primary btn-wave mb-0 dropdown-toggle" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                Sélectionner l'action au groupe
                </button>
                <ul class="main-header-dropdown dropdown-menu dropdown-menu-end" data-popper-placement="none">
                    <li>
                        <button class="dropdown-item d-flex align-items-center text-danger" data-bs-toggle="modal" data-bs-target="#deleteBulkDoctors">Supprimer la sélection</button>
                    </li>
                </ul>
                <div class="modal fade mt-4" id="deleteBulkDoctors" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h6 class="modal-title" id="staticBackdropLabel">Delete</h6>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure do you want to delete these rows?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"  id="deleteSelectedRowsButton" onclick="bulk_delete_medicins_module()">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        </div>
            </div>
        </div>
        <!-- Start::row-1 -->
        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">

                        <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th><input class="form-check-input" type="checkbox" id="selectAllCheckbox" value="" aria-label="..." /></th>
                                    <th>Action</th>
                                    <th>ID</th>
                                    <th>Nom du Médecins</th>
                                    <th>spécialisté du Médecin</th>
                                    <th>Type</th>
                                   
                                    <th>Pourcentage de Travaille</th>
                                    <th>Date de Fin</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->
    </div>
</div>
<!-- End::app-content -->
<script>
    //var users_table = populate_table()
    //console.log(users_table)
    
    document.addEventListener("DOMContentLoaded", function(event) { 

        populate_medicins_table()
});
</script>