<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="margin0">
  <!-- <div><a href="{{url_for('dashboard')}}"><img src="./../static/back-btn.png" class="back-btn"></a> </div>

  <h1 class="header">
    Setup
  </h1> -->
  <!-- <a href="{{url_for('dashboard')}}">Go Back</a> -->
  <!--<div class="grid-container">-->
        <div class="row-view">
<div class="allMenu">
  <ul>
    <div class="padding">
        <a href="{{url_for('dashboard')}}" ><img class="img" src="./../static/logo.png" alt="Trulli" width="230" height="auto" /></a>
    </div>
    <br />
    {%if user_role == 'admin'%}
    <!-- <li><a href="{{url_for('user')}}"><span class="white">Gestion des Utilisateurs</span></a></li> -->
    <li> <a href="{{url_for('setup')}}"><span class="iconMenu"><img src="./../static/configuration.svg" alt="Configuration" width="20" height="20" /></span><span class="white">Configuration des Constantes</span></a></li>
    {%endif%}
    <li><a href="{{url_for('doctor')}}"><span class="iconMenu"><img src="./../static/medecine.svg" alt="Medecine" width="20" height="20" /></span><span class="white">Paramètre du Médecin</span></a></li>
      <hr />
    <li><a href="{{url_for('payment')}}"><span class="iconMenu"><img src="./../static/donnees-paiment.svg" alt="Paiement" width="20" height="20" /></span><span class="white">Paiements</span></a></li>
    <li><a href="{{url_for('facturation')}}"><span class="iconMenu"><img src="./../static/facturation.svg" alt="Facturation" width="20" height="20" /></span><span class="white">Facturation</span></a></li>
    <li><a href="{{url_for('retrocession')}}"><span class="iconMenu"><img src="./../static/facturation.svg" alt="Retrocession" width="20" height="20" /></span><span class="white">Retrocession</span></a></li>
    <li><a href="{{url_for('fraismateriel')}}"><span class="iconMenu"><img src="./../static/frais.svg" alt="Frais Matériele" width="20" height="20" /></span><span class="white">Frais Materièl Medical</span></a></li>
    <li><a href="{{url_for('dentisterie')}}"><span class="iconMenu"><img src="./../static/donnees-dentaire.svg" alt="Donnees Dentaire" width="20" height="20" /></span><span class="white">Dentisterie</span></a></li>
    <hr />
    <li><a href="{{url_for('encaissement')}}"><span class="iconMenu"><img src="./../static/encaissement.svg" alt="Encaissements Avance" width="20" height="20" /></span><span class="white">Encaissements-Avance</span></a></li>
    <li><a href="{{url_for('doctorpayment')}}"><span class="iconMenu"><img src="./../static/paiment-med.svg" alt="Paiement Médecin" width="20" height="20" /></span><span class="white">Materièl/Mobilier</span></a></li>
    <hr />
    <li class="rapportTab"><a href="{{url_for('reporting')}}">Génération de Rapports</a></li>
    <!-- <hr /> -->
    <!-- <li><a href="{{url_for('logout')}}"><span class="white">Déconnecter</span></a></li> -->
</ul>
    </div>
        <div class="bodyCont padding10px">
          <div class="header-content">
          <div class="dash-title">Paramètre</div>
        </div>
    <div class="grid-container margintop20">
      {% for form in settingsForms %}
      <div class="grid-item-report-setup">
      <label for="div"><b>{{titlescards[loop.index0]}}</b></label><br><br>
  <form method="POST" action="">
      {% for field in form %}
      <tr>
          <div class="form-titles">
          <th>{%if  field.label.text != 'Soumettre' and field.label.text != "CSRF Token" %}{{ field.label }}{%endif%} {% if field.flags.required %}*{% endif %}</th>
      </div>
          <span><td>{{ field }}</td></span>
          <br><br>
      </tr>
      {% endfor %}
  </form>
  </div>
  {%endfor%}
  </div>

  {% for form in forms %}
  <button type="button" class="collapsible">{{titles[loop.index0]}}</button>
  <div class="content">
    <div class="grid-item setupPage">
<br/>
      <form method="POST" action="">
        {%set formindex = loop.index0%}
        {% for field in form%}
        <tr>
          <th>{%if field.label.text != 'Soumettre' and field.label.text != "CSRF Token" %}{{ field.label }}{%endif%} {% if
            field.flags.required %}*{% endif %}</th><br>                
            <div class="margin-top"></div>

          <td>{{ field }}</td><br>
        </tr>

        {%endfor%}
      </form>
      <div class="tableCover">

      <table class="fl-table" border="1">
        <thead>
          <tr>
            {%for title in headers[loop.index0]%}
            <th>{{title}}</th>
            {%endfor%}
            <th></th>
          </tr>

        </thead>
        {% for value in table[loop.index0] %}
        <tr>
          {%for item in value%}
          <td>
            {{item}}
          </td>
          {%endfor%}
          {%if user_role == 'admin'%}
          <!--<td><a href="{{url_for('edit_entry',tbl=dbtable,id=value[0])}}">Edit</a></td>-->
          <td><a class="ic-view" href="{{url_for('delete_entry',tbl=dbtable[formindex],tblid=dbtableid[formindex],id=value[0])}}"><span><img src="./../static/icons8-trash.svg" alt="Edit" width="26" height="26" /></span></a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  </div>
  {%endfor%}

  </div>
    </div>
 </div>
  <br>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    } 
  </script>
  <style>
    .content {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  </style>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>

</body>

</html>