<!-- Start::app-sidebar -->
<aside class="app-sidebar sticky" id="sidebar">
    <!-- Start::main-sidebar-header -->
    <div class="main-sidebar-header">
        <a href="/dashboard" class="header-logo">
            <img src="/static/images/sidebar-logo.png" alt="logo" class="desktop-logo" /> <img src="/static/images/sidebar-logo.png" alt="logo" class="toggle-logo" />
            <img src="/static/images/sidebar-logo.png" alt="logo" class="desktop-dark" /> <img src="/static/images/sidebar-logo.png" alt="logo" class="toggle-dark" />
        </a>
    </div>
    <!-- End::main-sidebar-header -->
    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">
        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>
            </div>
            <ul class="main-menu">
                <div class="mb-5">
                <li class="slide mt-3">
                    {%if content == 'widget'%}
                    <a href="{{url_for('dashboard')}}" class="active">
                    {%else%}
                    <a href="{{url_for('dashboard')}}" class="">
                    {%endif%}
                    
                        
                        <span class="side-menu__label">TABLEAU DU BORD</span>
                    </a>
                </li>
                <ul id="savedDashboardsList">
                </ul>
                </div>
                <li class="slide mb-3">
                    <span class="side-menu__label">DÉPENSES / SORTIES</span>
               
                    </li>
                <li class="slide mb-5">
                    {%if content == 'payment'%}
                    <a href="{{url_for('payment')}}" class="side-menu__item active">
                    {%else%}
                    <a href="{{url_for('payment')}}" class="side-menu__item">
                    {%endif%}
                        <i class='ti ti-report-money side-menu__icon'></i>
                        <span class="side-menu__label">Paiement</span>
                    </a>
                </li>
                <li class="slide mb-3">
                    <span class="side-menu__label">RECETTES / ENTRÉES</span>
               
                    </li>
                <li class="slide">
                    {%if content == 'facturation'%}
                    <a href="{{url_for('facturation')}}" class="side-menu__item active">
                    {%else%}
                    <a href="{{url_for('facturation')}}" class="side-menu__item">
                    {%endif%}
                        <i class='ti ti-receipt side-menu__icon'></i>
                        <span class="side-menu__label">Facturation</span>
                    </a>
                </li>
                <li class="slide">
                    {%if content == 'retrocession'%}
                    <a href="{{url_for('retrocession')}}" class="side-menu__item active">
                    {%else%}
                    <a href="{{url_for('retrocession')}}" class="side-menu__item">
                    {%endif%}                    
                   
                        <i class='ti ti-exchange side-menu__icon'></i>
                        <span class="side-menu__label">Rétrocession</span>
                    </a>
                </li>
                <!--
                <li class="slide">
                    <a href="" class="side-menu__item">
                        <i class='ti ti-dental side-menu__icon'></i>
                        <span class="side-menu__label">Dentisterie</span>
                    </a>
                </li>-->
                <li class="slide">
                    {%if content == 'encaissement'%}
                    <a href="{{url_for('encaissement')}}" class="side-menu__item active">
                    {%else%}
                    <a href="{{url_for('encaissement')}}" class="side-menu__item">
                    {%endif%}   
                        <i class='ti ti-credit-card side-menu__icon'></i>
                        <span class="side-menu__label">Encaissement Avance</span>
                    </a>
                </li>
                <!--
                <li class="slide">
                    <a href="" class="side-menu__item">
                        <i class='ti ti-table side-menu__icon'></i>
                        <span class="side-menu__label">Widgets</span>
                    </a>
                </li>
            -->
            </ul>
            <div class="slide-right" id="slide-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
            </div>
        </nav>
        <!-- End::nav -->
    </div>
    <!-- End::main-sidebar -->
</aside>
<!-- End::app-sidebar -->